<!DOCTYPE html>
<html ng-app="todoApp">
<head>
    <title>TODO List</title>
    <link href="../css/bootstrap.css" rel="stylesheet"/>
    <link href="../css/bootstrap-theme.css" rel="stylesheet"/>

    <script src="../scripts/angular.js"></script>

    <script>
       var model = {
        user: "Jignesh",
        items:[
          {
            action: "Buy Flowers", done: false
          },
          {
              action: "Get Shoes", done: false
          },
          {
              action: "Collect Tickets", done: false
          }
        ]
       };

       var todoApp = angular.module("todoApp", []);

       todoApp.controller("ToDoController", function($scope) {
          $scope.todo = model;

          $scope.incompleteCount = function() {
            var count = 0;
            angular.forEach($scope.todo.items, function(item) {
              if (!item.done) { count++ };
            });
            return count;
          }

          $scope.warningLevel = function() {
            return $scope.incompleteCount() < 3 ? "label-success" : "label-warning"
          }

          $scope.addNewItem = function(actionText) {
            $scope.todo.items.push({ action: actionText, done: false });
          }
       });
    </script>
</head>
<body ng-controller="ToDoController">
    <div class="page-header">
        <h1>
            {{todo.user}}'s To Do List
            <span class="label label-default" ng-hide="incompleteCount() == 0"
                                              ng-class="warningLevel()">
                {{incompleteCount()}}
            </span>
         </h1>
    </div>

    <div class="panel">
        <div class="input-group">
            <input class="form-control" ng-model="actionText"/>
            <span class="input-group-btn">
                <button class="btn btn-default"
                        ng-click="addNewItem(actionText)">
                    Add
                </button>
            </span>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Done</th>
                </tr>
            </thead>

            <tbody>
                <!--
                     New addition here is the:
                        | filter: { done: false } | orderBy: 'action'

                     which is applying filters.

                     Filtering can be applied to any part of the data model.

                     Here we have used filters to control the data that is used
                     by ng-repeat directive that populates the <table> element
                     with details of the TODO list items.We have used two
                     filters:

                        1. the "filter" filter (odd name)
                            - this one when applied selects objects based on
                              the criteria it is configured with.In present case,
                              it has the effect that any complete TODO item won't
                              be shown to the user.

                        2. the "orderBy" filter
                            - this one sorts the data items.In present case,
                              we have used it to sort by value of the "action"
                              property.ALSO NOTICE HERE that when using this filter
                              we specify the property we want to use for sorting
                              as a string literal value, between single quote
                              characters i.e. 'action'.BY DEFAULT, AngularJS
                              assumes that everything is a property defined by the
                              scope and without the quote characters would look for
                              a scope property called action.

                      Note:
                        The functionality provided by filters can be achieved with
                        behaviors and there is nothing wrong with using behaviors,
                        however filters tend to be more general-purpose and lend
                        themselves to reuse across an application.

                      Once these filters are in place, when a new item will be
                      added it will be inserted into the list based on alphabetical
                      order of item's 'action' property value and when you check
                      the box the item will be hidden.Note here that the data in
                      the model isn't sorted; the sort operation is performed
                      when the ng-repeat directive is processed to create the
                      rows in the table.

                 -->
                <tr ng-repeat="item in todo.items | filter: { done: false } | orderBy: 'action' ">
                    <td>{{item.action}}</td>
                    <td>
                        <input type="checkbox" ng-model="item.done" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>